/* #region common rules */
:root{
    --clr-darker: hsl(218, 44%, 22%);
    --clr-semi-dark:hsl(220, 15%, 55%);
    --clr-light:hsl(212, 45%, 89%);
    --clr-lighter:hsl(0, 0%, 100%);

    --fw-md:400;
    --fw-lg:700;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--clr-light);
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    max-width: 100%;
}
/* #endregion common rules */

/* #region main */
.card{
    background-color: var(--clr-lighter);
    border-radius: 1rem;
    text-align: center;
    max-width: 360px;
    max-height: 780px;
}
p{
    font-size: 0.875rem;
    color:var(--clr-semi-dark);
    font-weight: var(--fw-md);
}

h1{
    font-weight: var(--fw-lg);
    font-size: 1.375rem;
    margin: 0;
}

.card_img_top{
    padding:1rem;
    padding-bottom: 0;
}
.card_img_top img{
    border-radius: 1rem;
}
.card_body{
    padding: 1.5rem;
}
/* #endregion main */